fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic==2.10.4
pydantic-settings==2.7.0
sqlalchemy[asyncio]==2.0.36
asyncpg==0.30.0
alembic==1.14.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.20
langgraph==0.2.62
langchain-groq==0.2.3
groq==0.13.1
scipy==1.10.1
scispacy==0.5.4
spacy==3.7.5
websockets==14.1
pydantic[email]
bcrypt==4.0.1
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_sm-0.5.4.tar.gz